body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f4f8;
}

header {
  background: #111827;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 70px 20px;
  background: #2563eb;
  color: white;
}

button {
  background: #111827;
  color: white;
  border: none;
  padding: 12px 25px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.card {
  background: white;
  width: 350px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #111827;
  color: white;
}
